:root {
  --colorBg: #C31415;
  --colorHeaderForm: #FFFFFF;
  --colorBgAll:#F0F0F0;
  --colorSelectBtn:#9F090C;
  --colorClearBtn:#555555;
  --fontSpan:#C21315;
  --fontColor:#3A3434;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--colorBgAll);
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  place-content: center;
}

header{
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: var(--colorHeaderForm);
  display: flex;
  justify-content: space-evenly;
  border-top: 10px solid var(--colorBg);
}

header img{
  width: 200px;
}

h1{
  margin-top: 50px;
  font-size: 30px;
  font-family: "Roboto Condensed";
  font-weight: 500;
  color:var(--colorClearBtn);
}

.container h1 img{
  width: 30px;
}

h1 span{
  color:var(--fontSpan);
}

.container{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main{
  padding: 20px;
  display: grid;
  place-content: center;
  text-align: center;
}

#loginForm{
  display: flex;
  flex-direction: column;
  gap:20px;
  background-color: var(--colorHeaderForm);
  padding: 30px 100px;
  border-radius: 10px;
  box-shadow:2px 2px 8px gray;
  color:var(--colorClearBtn);
}

.inputGroup{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:5px;
}

.inputGroup select{
  padding: 5px;
  border-radius: 10px;
  color:var(--colorClearBtn0);
}

.inputGroup:first-of-type label{
  padding-left: 60px;
}

.inputGroup:nth-of-type(2) label{
  padding-left: 12px;
}

.inputGroup:nth-of-type(3) label{
  margin-left: 0;
}

.inputGroup select:first-of-type{
  width: 60%;
}

.inputGroup input{
  outline: none;
  border: none;
  padding: 6px;
  border-radius: 10px;
  border: 1px solid gray;
  height: 14px;
  color:var(--colorClearBtn);
}

.inputGroup:nth-of-type(2) input{
  width: 58%;
}

.inputGroup:nth-of-type(3) div{
  width: 63%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.inputGroup:nth-of-type(3) select, .inputGroup:nth-of-type(3) input{
  width: 100%;
}


/* Teclado Virtual */

.content{
  background-color: red;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.content1{
  display: flex;
  gap:10px;
}
.text {
  width: 180px;
  text-align: end;
}
.vKeyboard{
  width: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.vKeyboard .btn, #clear{
  font-family: "Roboto Condensed";
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color:var(--colorClearBtn)
}

#clear{
  font-size: 16px;
  background-color: var(--colorClearBtn);
  color:var(--colorBgAll)
}

#clear{
  grid-column: 2/4;
}

/* Footer */

footer{
  margin-top: 80px;
}

footer p{
  color: var(--colorClearBtn);
  font-size: 14px;
  margin: 5px;
  text-align: center;
}
#place{
  font-weight: bold;
}

#oficinas p{
  margin-bottom: 0px;
}

