:root{
  --color:#059669;
  --heightFooter: 8%;
}

*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body{
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/*Contenedor que contiene todo*/
.container{
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: 300px auto;
}

/*Navegacion*/
nav{
  display: grid;
  place-content: center;
  min-width: 200px;
  height: 50%;
}

.navlist{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navlist i{
  margin-right: 5px;
}
.navlist a{
  color:#151515;
  font-weight: 400;
  border-bottom: 2px solid transparent;
  transition: all 0.55s ease;
}
.navlist .puntero{
  color: var(--color);
}

.navlist a:hover{
  border-bottom: 2px solid #151515;
}

.sublist{
  margin: 0 20%;
  text-align: start;
  width: 100%;
  border-left: 2px solid #151515;
}

.sublist li{
  margin-left: 10px;
}

.desplegar{
  margin-left: 50px;
}

main{
  display: grid;
  place-content: center;
}

main header{
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
}

main .content{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.content-text{
  width: 50%;
}

.content-img img{
  width: 300px;
  height: 400px;
}

/* Familia */
.family{
  display: grid;
  place-content: center;
  width: 100%;
}
.family div{
  padding: 40px;
}

.family .head{
  margin: 20px 0;
  background-color: #059669;
  padding-left:20px;
  margin-left: -20px;
  border-radius: 0 10px 10px 0;
  animation: scale 2s linear alternate-reverse forwards 2;
}

@keyframes scale {
  0%{
    width: 20%;
  }
  50%{
    width: 60%;
  }
  100%{
    width: 100%;
  }
}
.family .person{
  margin-top: 20px;
  background-color: antiquewhite;
  transition: all 0.25s linear;
}

.person p{
  padding-bottom: 20px;
  border-bottom: 3px solid #059669;
}

footer{
  height: var(--heightFooter);
  width: 100vw;
  display: grid;
  place-content: center;
  background-color: var(--color);
  color:#fff;
}

footer a{
  color:#eee;
  transition: all 0.55s ease-in-out;
}

footer a:hover{
  color:#dddbdb;
}


/* Responsive */
@media (max-width: 1000px){
  nav{
    height: 100vh;
  }
  .container{
    grid-template-columns: 200px auto;
  }
  .content-text header{
    font-size: 2rem;
    font-weight: 600;
  }
  .content-img img{
    margin-top: 100px;
    width: 200px;
    height: 300px;
  }
}
@media (max-width:780px){
  .container{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 200px auto;
  }
  nav{
    height: 200px;
  }
  main .content{
    height: calc(100vh - 200px);
  }
}

@media (max-width:450px){
  .container{
    grid-template-rows: 200px auto;
    height: auto;
  }
  main .content{
    height: auto;
  }
  .content-text{
    margin: 4%;
    width: auto;
    text-align: center;
  }
  .content-img img{
    margin: 0;
  }
}