:root{
  --color:#059669;
  --heightFooter: 8%;
}

*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body{
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/*Contenedor que contiene todo*/
.container{
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: 300px auto;
}

/*Navegacion*/
nav{
  display: grid;
  place-content: center;
  min-width: 200px;
  height: 100vh;
}

.navlist{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navlist i{
  margin-right: 5px;
}
.navlist a{
  color:#151515;
  font-weight: 400;
  border-bottom: 2px solid transparent;
  transition: all 0.55s ease;
}
.navlist .puntero{
  color: var(--color);
}

.navlist a:hover{
  border-bottom: 2px solid #151515;
}

.sublist{
  margin: 0 20%;
  text-align: start;
  width: 100%;
  border-left: 2px solid #151515;
}

.sublist li{
  margin-left: 10px;
}

.desplegar{
  margin-left: 50px;
}

main{
  display: grid;
  place-content: center;
}

/* Hobbies */
main .hobbies, .duracion, .recomendacion{
  width: 100%;
  display: grid;
  place-content: center;
  padding: 30px;
  box-sizing: border-box;
}

.hobbies header{
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  box-sizing: border-box;
}

/* Descripcion */
.head{
  background-color: #059669;
  color:#fff;
  margin: 20px 0;
  padding-left:20px;
  border-radius: 0 10px 10px 0;
  animation: scale 2s linear alternate-reverse forwards 2;
}

@keyframes scale {
  0%{
    width: 20%;
  }
  50%{
    width: 60%;
  }
  100%{
    width: 100%;
  }
}

.description{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  place-content: center;
  text-align: center;
  padding: 30px;
}
.description .item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.item p{
  padding: 10px;
  box-sizing: border-box;
}

.description .item:first-child img:last-child{
  margin-top: 20px;
}
.item img:first-child{
  width: 60px;
}
.item img:last-child{
  margin-top: 10px;
  width: 250px;
  border-radius: 100%;
}

/* Duracion */
.duracion_content{
  display: grid;
  place-content: center;
  grid-template-columns: repeat(2, 1fr);
}

.duracion_content .divItem{
  padding: 20px;
  display: flex;
  justify-content: center;
  margin: 20px;
  border-radius: 20px;
  background-color: rgb(237, 198, 198);
}

.divItem div span{
  font-weight: bold;
}

.divItem div p{
  font-size: 14px;
}

.divItem img{
  width: 100px;
}

.recomendacion p{
  padding: 20px;
  border: 3px dashed rosybrown;
}
.recomendacion div{
  display: grid;
  align-items: center;
  grid-template-columns: 200px auto;
  padding: 20px;
  column-gap: 20px;
}
.recomendacion div img{
  width: 100%;
}

/* Footer */
footer{
  height: var(--heightFooter);
  width: 100vw;
  display: grid;
  place-content: center;
  background-color: var(--color);
  color:#fff;
}

footer a{
  color:#eee;
  transition: all 0.55s ease-in-out;
}

footer a:hover{
  color:#dddbdb;
}


/* Responsive */
@media (max-width: 1000px){
  nav{
    height: 100vh;
  }
  .container{
    grid-template-columns: 200px auto;
  }
  .content-text header{
    font-size: 2rem;
    font-weight: 600;
  }
  .content-img img{
    margin-top: 100px;
    width: 200px;
    height: 300px;
  }
  footer{
    width: 100vw;
  }
}
@media (max-width:780px){
  .container{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 200px auto;
  }
  nav{
    height: 200px;
  }
  main .content{
    height: calc(100vh - 200px);
  }
}

@media (max-width:450px){
  .container{
    grid-template-rows: 200px auto;
    height: auto;
  }
  main .hobbies, .duracion, .recomendacion{
    padding: 0;
  }
  .description{
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
  }
  .item img:first-child{
    width: 80px;
  }
  .item img:last-child{
    margin-top: 10px;
    width: 200px;
    border-radius: 100%;
  }
  .duracion_content{
    grid-template-columns: repeat(1, 1fr);
  }
  .recomendacion div{
    grid-template-columns: auto;
  }
  .head{
    animation: none;
    text-align: center;
    border-radius: 0;
  }
  .recomendacion div img{
    width: 100%;
    margin-bottom: 20px;
  }
}