:root{
  --color:#059669;
  --heightFooter: 8%;
}

*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body{
  width: 100vw;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/*Contenedor que contiene todo*/
.container{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 300px auto;
}

/*Navegacion*/
nav{
  display: grid;
  place-content: center;
  min-width: 200px;
  height: 100%;
}

.navlist{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navlist i{
  margin-right: 5px;
}
.navlist a{
  color:#151515;
  font-weight: 400;
  border-bottom: 2px solid transparent;
  transition: all 0.55s ease;
}
.navlist .puntero{
  color: var(--color);
}

.navlist a:hover{
  border-bottom: 2px solid #151515;
}

.sublist{
  margin: 0 20%;
  text-align: start;
  width: 100%;
  border-left: 2px solid #151515;
}

.sublist li{
  margin-left: 10px;
}

.desplegar{
  margin-left: 50px;
}
/*Desplegar la lista
.desplegar:hover .sublist{
  background-color: antiquewhite;
  display: flex;
  border-left: 2px solid #151515;
}*/


/*Content parte principal */

main{
  display: grid;
  place-content: center;
}

main header{
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
}

main .content{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.content-text{
  width: 50%;
}

.content-img img{
  width: 300px;
  height: 400px;
}
/* Redes */
.networks{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.networks a{
  font-size: 3rem;
  transition: all 0.5s ease;
}
.networks a:hover{
  color:var(--color);
  transform: translateX(5px);
}

footer{
  position: absolute;
  bottom: 0;
  height: var(--heightFooter);
  width: 100vw;
  display: grid;
  place-content: center;
  background-color: var(--color);
  color:#fff;
}
footer a{
  color:#eee;
  transition: all 0.55s ease-in-out;
}
footer a:hover{
  color:#dddbdb;
}


/* Responsive */
@media (max-width: 1000px){
  .container{
    grid-template-columns: 150px auto;
  }

  .content-img img{
    width: 200px;
    height: 300px;
  }
}
@media (max-width:780px){
  .container{
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 200px auto;
  }
  main{
    height: calc(100vh - 200px);
  }
}

@media (max-width:450px){
  .container{
    grid-template-rows: 200px auto;
    height: auto;
  }
  main{
    height: auto;
  }
  main header{
    font-size: 2.5rem;
  }
  .content-text{
    margin: 4%;
    width: auto;
    text-align: center;
  }
  .content-text h1{
    font-size: 1rem;
  }
  footer{
    position: static;
    height:50px;
    width: 100vw;
  }
}
