:root{
  --color:#059669;
}

*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body{
  width: 100vw;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container{
  width: 100vw;
  height: calc(100vh - 80px);
  display: grid;
  grid-template-columns: 300px auto;
  place-content: center;
}

/*Navegacion*/
nav{
  display: grid;
  place-content: center;
  min-width: 300px;
  width: 20%;
  height: 100%;
}

.navlist{
  width: max-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navlist:first-child{
  width: 100%;
  text-align: start; /*pediente*/
  padding-bottom: 20px;
}
.navlist i{
  margin-right: 5px;
}
.navlist a{
  color:#151515;
  font-weight: 400;
  border-bottom: 2px solid transparent;
  transition: all 0.55s ease;
}
.navlist .puntero{
  color: var(--color);
}

.navlist a:hover{
  border-bottom: 2px solid #151515;
}

.sublist{
  margin: 0 30%;
  text-align: start;
  width: 100%;
  border-left: 2px solid #151515;
}
.sublist li{
  margin-left: 10px;
}
.desplegar{
  margin-left: 80px;
}
Desplegar la lista
/*.desplegar:hover .sublist{
  background-color: antiquewhite;
  display: flex;
  border-left: 2px solid #151515;
}*/

/*Content*/

main{
  display: grid;
  width: calc(100vw - 20%);
  place-content: center;
  
}

header{
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
}

.content{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.content-text{
  width: 50%;
}

img{
  width: 300px;
  height: 400px;
}
.networks{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.networks a{
  font-size: 3rem;
  transition: all 0.5s ease;
}
.networks a:hover{
  color:#059669;
  transform: translateX(5px);
}

footer{
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 100vw;
  display: grid;
  place-content: center;
  background-color: #059669;
  color:#eee;
}
footer a{
  color:#eee;
  transition: all 0.55s ease-in-out;
}
footer a:hover{
  color:#dddbdb;
}

@media (max-width: 1200px){
  .container{
    grid-template-columns: repeat(1,1fr);
    height: max-content;
  }
}
@media (max-width:500px){
}
